@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model MoviesViewModel

@section scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "pageLength": 20,
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}

<!--Including some additional libraries for paginated table-->
<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<!--One week worth of time slots hardcoded-->

<div id="PlaceHolderHere"></div>

<div class="container">
    <table class="table table-hover" id="dataTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Lent Out?</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Movies)
            {
                @*Using an if statement to skip the movie when the title is Independence Day, because
                    'as the “Most American Movie Ever Made” which is obviously not true'*@
                @if (x.Title == "Independence Day") continue;
                else
                {
                    <tr>
                        <td>@x.Category</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>
                        <td>@if (x.LentTo != null)
                        {
                            <p>Yes</p>
                        }
                        else 
                        { 
                            <p></p>
                        }
                        </td>
                        <td>
                            <button type="button" class="btn btn-info"
                                    data-toggle="ajax-modal"
                                    data-target="#movieDetails"
                                    data-url="@Url.Action($"MovieDetails/{x.MovieId}")" name="MovieId">
                                Details
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                    data-toggle="ajax-modal"
                                    data-target="#editMovie"
                                    data-url="@Url.Action($"EditMovieModular/{x.MovieId}")" name="MovieId">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    data-toggle="ajax-modal"
                                    data-target="#deleteMovieConfirm"
                                    data-url="@Url.Action($"DeleteMovieModular/{x.MovieId}")" name="MovieId">
                                Delete
                            </button>                    
                        </td>
                    </tr>
                }
             }
        </tbody>
    </table>
</div>

<script src="~/js/site.js"></script>
